* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    background-color: rgb(30, 34, 34);
    /* background: url(img/bg.jpg); */
    font-family: 'Righteous';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    min-width: 1000px;
    padding: 10vw;
    background: rgb(30, 57, 65);
    border-radius: 10px;
}
.title {
    font-size: 4rem;
}
.hide {
    display: none;
}